stages:
  - pages
  - docker:build
  - docker:deploy
  - sync

variables:
  DOCKER_TAG: 0.0.3

pages:
  stage: pages
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/node:16.19.1
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - node_modules/
  script:
    - npm run pre:npm
    - npm run build
    - mv dist/* public/
  artifacts:
    expire_in: 1 week
    paths:
      - public/
  rules:
    - if: $CI_COMMIT_BRANCH == "main" && $ENABLE_DOCS == "true"

docker:build:
  stage: docker:build
  image:
    name: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/kaniko-project-executor:v1.23.1-debug
    entrypoint: [ "" ]
  needs:
    - job: pages
      artifacts: true
  before_script:
    - echo "{\"auths\":{\"registry.cn-qingdao.aliyuncs.com\":{\"auth\":\"$(printf "%s:%s" "${ACR_REGISTRY_USER}" "${ACR_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"},\"https://index.docker.io/v1/\":{\"auth\":\"$(printf "%s:%s" ${DOCKER_USERNAME} "${DOCKER_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  script:
    - echo $DOCKER_TAG
    - /kaniko/executor version
    - if [ "$PUSH_DOCKER_HUB" = "true" ]; then
      /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --build-arg "CI_PIPELINE_URL=${CI_PIPELINE_URL}"
      --destination "registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/xuxiaowei-tools:${DOCKER_TAG}"
      --destination "registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/xuxiaowei-tools:${DOCKER_TAG}-${CI_PIPELINE_ID}"
      --destination "xuxiaoweicomcn/xuxiaowei-tools:${DOCKER_TAG}"
      --destination "xuxiaoweicomcn/xuxiaowei-tools:${DOCKER_TAG}-${CI_PIPELINE_ID}";
      else
      /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --build-arg "CI_PIPELINE_URL=${CI_PIPELINE_URL}"
      --destination "registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/xuxiaowei-tools:${DOCKER_TAG}"
      --destination "registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/xuxiaowei-tools:${DOCKER_TAG}-${CI_PIPELINE_ID}";
      fi
  rules:
    - if: $CI_COMMIT_BRANCH == "main" && $ENABLE_DOCS_DOCKER == "true"

docker:deploy:
  stage: docker:deploy
  needs:
    - job: docker:build
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/docker:26.1.3-cli
  variables:
    DOCKER_HOST: $DEPLOY_DOCKER_HOST
  script:
    - docker info
    - docker compose up -d
    - docker images | grep xuxiaowei-tools
    - docker images | grep xuxiaowei-tools | awk '{print $3}' | xargs docker rmi || echo
  environment: production
  rules:
    - if: $CI_COMMIT_BRANCH == "main" && $ENABLE_DOCS_DOCKER_DEPLOY == "true"
  tags:
    - lighthouse-docker

# 嵌入
include:
  # 同步代码
  - /sync.yml
